## MCB 288 - Spring 2019 - Exercise 1

For week 2 we will be reanalyzing data from this paper:

https://rnajournal.cshlp.org/content/22/6/839.long

In which the authors did 96 RNA-seq experiments, 48 replicates each of wildtype yeast cells (S. cerevisiae) and an otherwise isogenic line carrying a mutation in the transcription factor SNF2. The main goal of the paper, which we will focus on here, was to ask the question of how many replicates are needed to accurately identify genes that are differentially expressed between the two conditions.

I have preprocessed the data a little bit to put it into a tabular form available in the file:

##### data/Barton/Barton_combined_Ygenes.txt

The file is a tab-delimited table whose rows are genes and columns are replicates.

In the paper they identify several replicates that look unusual and which they do not include in subsequent analyses. We will discuss whether this was appropriate, but it is certainly true that several of the samples are unusual in that they look quite different from other supposedly identical samples.

#### Your assignment is to identify these outliers and describe what makes them unusual. You should be able to do this using only operations discussed in the last class. But I will start you off with some code to help.

In [15]:
# import libraries 

import pandas as pd

# this is here to shut off some annoying warnings from pandas
pd.options.mode.chained_assignment = None

# matplotlib is one of the main plotting libraries we're going to use
import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline

# the other plotting library is seaborn - we'll use both during the class

import seaborn as sns

# numpy and scipy are for handling numerical and scientific data

import numpy as np
import scipy as sp

import statsmodels.formula.api as smf # basic statistical modeling

In [17]:
# load dataframe with expression data

datafile = "data/barton/Barton_combined_Ygenes.txt"
df = pd.read_csv(datafile, sep='\t')   # the sep='\t' tells pandas that it is a tab separated file

df.head()

,Gene,Snf2_rep01,Snf2_rep02,Snf2_rep03,Snf2_rep04,Snf2_rep05,Snf2_rep06,Snf2_rep07,Snf2_rep08,Snf2_rep09,...,WT_rep39,WT_rep40,WT_rep41,WT_rep42,WT_rep43,WT_rep44,WT_rep45,WT_rep46,WT_rep47,WT_rep48
0,YAL001C,840,653,823,1036,510,820,1240,549,828,...,353,696,492,445,419,289,541,292,647,409
1,YAL002W,712,530,607,771,395,605,904,351,589,...,356,756,552,440,389,291,552,346,622,453
2,YAL003W,7296,6129,6464,7278,5613,3046,7687,6714,8382,...,9291,12055,13542,8441,7337,8639,14315,6618,14745,9878
3,YAL004W,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,YAL005C,9851,10226,12006,10714,8575,2791,11764,8237,12213,...,10177,21176,13270,12337,14303,14268,14993,9607,16075,14797

Not that the first column is "Gene" and uses the standard identifier for yeast genes which has several components:

Take the first one as an example: YAL001C

* Y - is for yeast
* A - tells you what chromosome it is on (A is chromosome 1, B is chromosome 2, etc...). Yeast has 16 chromosomes plus mitcochondria.
* L - is for the left arm of the chromosome (the other arm is R for right)
* 001 - is a numerical identifier counting genes along the chromosome arm
* C - says that it is on the "Crick" strand - the other option is W for "Watson" (we should all get together and lobby to have this changed to F for Franklin)

You can get all sorts of info on yeast genes at the Yeast Genome Database www.yeastgenome.org.

In [9]:
# you will likely want to use lists of experiments 

# this comment gets all of the column names and puts them into a list

exps = df.columns.get_values()

# you can then create lists with just WT and Snf2 mutants

# the syntax here in English is 
# [] create a new list
# [e for e in exps] fills the list with all values from the list exps
# if e.startswith('WT') filters the list to only include elements that start with 'WT'

exps_wt = [e for e in exps if e.startswith('WT')] 

exps_mut = [e for e in exps if e.startswith('Snf2')]

In [12]:
# there are a lot of ways you could now ask the question
# "How do the different WT replicates compare to each other?"
# I will leave you with some code to help get you started


# this command iterates over the elements in a list returning 
# both the index of the element - 0,1,2,3... - which i'm calling i
# and the actual value which i'm calling e

for i,e in enumerate(exps_wt):
    
    # you can then use these values to do stuff
    
    print (i,e,df[e].mean())

0 WT_rep01 891.6344053851907
1 WT_rep02 1179.07928197457
2 WT_rep03 961.8833208676141
3 WT_rep04 1558.8936424831713
4 WT_rep05 1197.2359012715033
5 WT_rep06 2184.868511593119
6 WT_rep07 1324.374569932685
7 WT_rep08 1471.038444278235
8 WT_rep09 1323.5594614809274
9 WT_rep10 1183.7739715781602
10 WT_rep11 1015.8858638743455
11 WT_rep12 1227.67928197457
12 WT_rep13 1357.6833208676142
13 WT_rep14 1435.7350785340313
14 WT_rep15 1138.921166791324
15 WT_rep16 831.9109947643979
16 WT_rep17 1073.470306656694
17 WT_rep18 1149.562004487659
18 WT_rep19 1394.1862378459236
19 WT_rep20 939.7748691099476
20 WT_rep21 1059.503216155572
21 WT_rep22 1527.439192221391
22 WT_rep23 1141.7406133133882
23 WT_rep24 1188.7741211667912
24 WT_rep25 1229.777860882573
25 WT_rep26 1379.4103216155572
26 WT_rep27 1433.9470456245326
27 WT_rep28 1204.9184741959612
28 WT_rep29 1219.3177262528047
29 WT_rep30 1727.1461480927449
30 WT_rep31 1286.499177262528
31 WT_rep32 977.5537771129394
32 WT_rep33 1420.2958863126403
33 WT_rep34 1277.6635751682873
34 WT_rep35 994.6737471952132
35 WT_rep36 1172.9449513836948
36 WT_rep37 1646.1175766641736
37 WT_rep38 1076.1056095736724
38 WT_rep39 1107.6121166791324
39 WT_rep40 1782.4139117427076
40 WT_rep41 1490.9669409124906
41 WT_rep42 1094.0667165295438
42 WT_rep43 990.1554225878833
43 WT_rep44 1212.076439790576
44 WT_rep45 1730.5044128646223
45 WT_rep46 834.1238593866866
46 WT_rep47 1805.9500373971578
47 WT_rep48 1195.2303664921467

In [14]:
# if you want to compare all WT experiments to each other you could do something like this

# import the pearson correlation function
from scipy.stats.stats import pearsonr 

for i1,e1 in enumerate(exps_wt):
    for i2,e2 in enumerate(exps_wt):
        c = pearsonr(df[e1],df[e2])[0] 
        
# this calculates the pearson correlation for all pairs of WT experiments
# I will leave it up to you to figure out what to do with it